<!DOCTYPE html>
<html>
<head>
    <title>PokéAPI</title>
</head>
<body>
    <h1>Poké API ⚡</h1>
    <input type="text" id="inputPokeName" placeholder="Type your Pokemon's name">
    <button id="buttonValidate" onclick="getPokemon()">Validate</button>
    
    <p id="pokemonName"></p>
    <p id="pokemonType"></p>
    <p id="pokemonSprite"></p>
    
    <p><a href="/">Retour à l'accueil</a></p>

    <script>
        function getPokemon() {
            const inputPokeName = document.getElementById("inputPokeName").value

            fetch("/pokeapi/getpokemon?name=" + inputPokeName)
            .then(responseEnvelop => responseEnvelop.json())
            .then(showPokemon => {
                console.log(showPokemon)
                document.getElementById("pokemonName").innerHTML = showPokemon.name
            });
        }
    </script>

</body>
</html>
